---
---
<header class="bg-pink-600 text-white p-4 shadow-md">
    <div class="max-w-8xl mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">Hest</h1>
        <nav>
            <ul class="flex gap-4">
                <li><a href="/" class="hover:underline">OM OS</a></li>
                <li><a href="/politik" class="hover:underline">KØB</a></li>
                <li><a href="/sport" class="hover:underline">STØT</a></li>
            </ul>
        </nav>
    </div>
</header>