---
const logoUrl = "/logo.png"; // Indsæt vores hest/logo
---

<header class="flex justify-between items-center bg-amber-100 p-4">
  <div>
    <a href="/" class="flex items-center">
      <img src={logoUrl} alt="Logo" class="h-10">
    </a>
  </div>
  
  <div class="flex space-x-4 font-serif italic hover:underline">
    <button class="">OM OS</button>
    <button class="">KØB</button>
    <button class="">STØT</button>
  </div>
</header>
