---
import logo from "../assets/images/logo.png"; 
---

<header class="flex flex-col justify-between items-center bg-[#FEEEBD] p-1">
  <!-- Logo til venstre -->
  <div class="flex justify-between w-full pl-10">
    <a href="/" class="flex items-center">
      <img src={logo.src} alt="Logo" class="h-20">
    </a>
    
    <!-- Navigationsknapper til højre -->
    <div class="flex space-x-10 font-serif italic pt-8 pr-10">
        <a href="/about" class="hover:underline transition">
          OM OS
        </a>
         <a href="/buy" class="hover:underline transition">
          KØB
        </a>
        <a href="/donate" class="hover:underline transition">
          STØT
        </a>
    </div>
  </div>
</header>


